@charset "utf-8";

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}

li {
  list-style: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

div,
li {
  box-sizing: border-box;
}

.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0, 0, 0, .6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}

.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}

.global_nav {
  display: flex;
  align-items: stretch;
}

.logo {
  width: 120px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
}

.section_inner {
  padding: 50px 10% 30px;
}

.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
}

.key h1 {
  font-size: 2.5rem;
}

.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

#boxstyle {
  border: solid;
  width: 300px;
  border-color: red;
  position: relative;
  top: 12rem;
    
}

#boxstyle > * {
  padding: 10px;
  margin: 20px;
}

#textnimage{
  display: flex;
  align-items: flex-start;
  gap: 20px
}

#textnimage > p {
  flex: 0 0 65%;
  margin: 0;

}

#textnimage >img {
  flex: 0 0 35%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.menu-row {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-row li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 49%;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-row li img {
  width: 100%;
  height: 75px;
  object-fit: cover;
  border-radius: 6px;
}

.access-info {
  display: flex;
}

footer {
  background-color: #251e19;
  /* height: 75px; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

footer nav ul a {
  color: white;
  text-decoration: none;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
}

footer nav ul li img {
  height: 40px;
  width: auto;
}